body {
  margin: 0;
  padding: 0;
  background: url(/img/fondoAgente.png) ;
  
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #757171;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
  opacity: 0.8;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
  background: #f1f1f1;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #645f60;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #f1f1f1;
  color: white;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-register {
width: 400px;
background: #24303c;
padding: 30px;
margin: auto;
margin-top: 100px ;
border-radius: 4px;
font-family: 'calibri';
color: white;
box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 250px;
  background: #24303c;
  padding:  20px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: nome;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.form-recoverykey {
background: blue;
font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
  padding: 20px;
  color: black;
}

.container {
  width: 500px;
  padding: 20px;
  margin: auto;
  background: #24303c;
}

h2{
  font-size: 14px;
  text-align: center;
  padding: 30px 20px;
}

.Correo {
  width: 100%;
  border: none;
  background: none;
  border-bottom: solid #222 2px;
  padding: 15px;
  outline: none;
  margin-bottom: 20px;
}

.Correo:focus{
border-bottom: solid blue 1px;
}

.form__button {
  display: flex;
  justify-content: space-between;
}

.Salir {
  text-decoration: none;
  background: red;
  padding: 5px 20px;
  color: white;
  font-size: 14px;
}
.Salir:hover {
  background: rgb(156, 11, 11);
}

.Enviar {
  background: rgb(0, 115, 255);
  padding: 8px 15px;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.Enviar :hover {
  background: rgb(2, 2, 85);
}

/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Estilos de la barra de navegación */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.logo span {
  color: #ffc107;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

/* Estilos de la sección de héroe */
.hero {
  background-image: url('hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  padding: 5rem 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  background-color: #ffc107;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffca28;
}

/* Estilos del pie de página */
footer {
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
